hr
	border-top: 1px solid #E1E1E1
	border-width: 0
	margin-bottom: 3.5rem
	margin-top: 3rem
	
table 
	width: 100%
	border: 1px solid $grey
	margin-bottom: 1.5em
	caption 
		margin: 0 0 7px
		font-size: 0.75em
		color: $dark-grey
		text-transform: uppercase
		letter-spacing: 1px
tr 
	border-bottom: 1px solid $grey
	&:nth-child(even) 
		background-color: $light-grey
td 
	padding: 7px
	border-right: 1px solid $grey
	&:last-child 
		border-right: 0
th 
	background-color: $light-grey
	border-bottom: 1px solid $grey
	border-right: 1px solid $grey
	&:last-child 
		border-right: 0
	
