//
// Settings
//

// Grid
$susy: (
	columns: 12,
	gutters: 0.8,
	container: 1100px,
	global-box-sizing: border-box,
	use-custom: (
		box-sizing: false
	)
);

// Break Points
$break-small: 360px; // Mobile Devices such as phones
$break-medium: 868px; // Small Screen Devices
$break-big: 1200px; // Large Screen Devices

// Fonts
$font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; // "Raleway", default fonts
$heading-family: 'Oswald', sans-serif; //'Montserrat', sans-serif; // default heading (h1-h6) font
$cursive-family: 'Crimson Text', serif; // default cursive font
$form-font: $font-family; // Default form font

$font-color: #333333;  // Default body font color
$heading-color: #181818; // Default heading (h1-h6) font color

// UI Colors
$primary-color: #AD141E;
$dark-grey: #aaaaaa;
$grey: #cccccc;
$light-grey: #f0f0f0;

// LINKS
$link-color: $primary-color; // default link color
$link-hover: darken($link-color, 10); // default link color on :hover
$link-decoration: underline; // default link decoration


// Navigation
$nav-background: $primary-color;
$nav-hover-background: darken($nav-background, 10);
$nav-link: #ffffff;
$nav-hover-link: #ffffff;

// Sub navigation
$nav-sub-background: #232323;
$nav-sub-hover-background: $nav-hover-background;
$nav-sub-link: #efefef;
$nav-sub-hover-link: #ffffff;

// Footer
$footer-background: #232323;



// Functions (BETA)
$nav-height: 6.8rem;
$nav-font-size: 1.2rem;
$nav-padding: ($nav-height - ($nav-font-size * 2)) / 2;

@mixin font-size($sizeValue) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue / 10) + rem;
}