/** Team **/
.team-member 
	display: inline-block
	margin-bottom: 20px
	margin-top: 20px
	text-align: center
	@include span(5.75)
@media screen and (min-width: $break-small)
	.team-member
		@include span(2.25)
.team-member-portrait 
	border-radius: 100%
	height: 0
	margin-bottom: 20px
	overflow: hidden
	padding-bottom: 100%
	width: 100%
.team-member-portrait img 
	width: 100%
.team-member-name 
	text-transform: uppercase
	font-weight: bold
.team-member-role 
	@extend %italic